mixin admin(data)
	.admin

		.admin__personal
			.admin__img(
				class= data.img ? '' : 'admin__img_contain'
				style="background-image: url(" + (data.img ? data.img : 'img/content/no-image-admin.svg') + ")"
			)
			p.subtitle.subtitle_blue.admin__name= data.name
			.admin__position= data.position

		.admin__info-wrap
			.admin__info-i

				.link-icon.main__l-icon
					+svg('tel', 'link-icon__icon')

					each val in data.contact.tel
						.link-icon__i
							a.link.link-icon__link(href="tel:" + val.link)= val.name

				.link-icon.main__l-icon
					+svg('email', 'link-icon__icon')

					each val in data.contact.email
						.link-icon__i
							a.link.link-icon__link(href="mailto:" + val)= val

				.link-icon.main__l-icon
					+svg('fax', 'link-icon__icon')

					each val in data.contact.fax
						.link-icon__i
							a.link.link-icon__link(href="tel:" + val.link)= val.name