include ../mixins/bread
include ../mixins/accord
include ../mixins/svg
include ../mixins/input

.section.section_space-bot_none
	.container
		+bread(class= 'main__bread')
		h1.title.title_left.title_lg= page.title

.section
	.container
		hr.main__space-bot

		h2.title.main__space-bot Адрес

		- var fullAddress = '';
		each val in ['index', 'country', 'region', 'city', 'address']
			- fullAddress += global[1].addresses[0][val] + (val == 'address' ? '' : ', ');

		p.subtitle.text-center= fullAddress

.section
	.container
		.grid

			each val, i in global[1].addresses[0].division
				.grid__col.grid__col_sm_6
					p.subtitle= i + 1 + '. ' + val.name

					if (val.contacts[0].tel)
						.link-icon.main__l-icon
							+svg('tel', 'link-icon__icon')

							.link-icon__i
								each contact, i in val.contacts[0].tel

									if i
										span!= ',&nbsp;'

									a.link.link-icon__link(href= contact.link)= contact.name

					if (val.contacts[0].email)
						.link-icon.main__l-icon
							+svg('email', 'link-icon__icon')

							.link-icon__i
								each contact, i in val.contacts[0].email

									if i
										span!= ',&nbsp;'

									a.link.link-icon__link(href= 'mailto:' + contact)= contact

					if (val.contacts[0].fax)
						.link-icon.main__l-icon
							+svg('fax', 'link-icon__icon')

							.link-icon__i
								each contact, i in val.contacts[0].fax

									if i
										span!= ',&nbsp;'

									a.link.link-icon__link(href= contact.link)= contact.name

					if (val.address)
						.link-icon.main__l-icon
							+svg('marker', 'link-icon__icon')

							.link-icon__i
								.link-icon__link= val.city + ', ' + val.address

.section.section_space-bot_none
	.container
		h2.title.main__space-bot Карта проезда

	#map.map

.section.section_space_big.section_blur(style='background-image: url(img/content/banners/01.jpg);')
	.section__fill.section__fill_darker
	.container
		h3.subtitle.subtitle_white.main__space-bot Для связи с нами Вы можете воспользоваться формой, расположенной ниже:

		.row
			.col-sm-4.col-lg-3.main__space-col
				+input({
					title: 'Имя',
					cls: ['name', 'white']
				})(class='main__space-col')
				+input({
					title: 'E-mail',
					cls: ['email', 'white']
				})

			.col-sm-8.col-lg-6.main__space-col.main__flex
				+input({
					title: 'Сообщение',
					cls: ['message', 'white'],
					textarea: true
				})

			.col-sm-8.push-sm-4.col-lg-3.push-lg-0.main__space-col
				input.btn.btn_fill.btn_wide(type='submit' value='Отправить отклик')